* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-part {
    background-color: lightblue;
    height: 35vh;
}

.navbar {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
}

.logoImg {
    width: 150px;
    margin-top: 10px;
}

ul {
    list-style-type: none;

    padding: 0;

    display: flex;

    gap: 50px;
    
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}

.top-everything {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.top-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;

    color: white;

    align-items: flex-start;

    gap: 15px;

}


.top-content p {
    max-width: 450px;
}

button {
    padding: 0 10px;
    background-color: rgb(234, 184, 184);
    border-color: white;

    color: rgb(119, 112, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.globeImg {
    width: 150px;
    margin-right: 150px;
}

img {
    width: 150px;
}

.second-everything {
    background-color: white;
    height: 30vh;

}


.info {
    display: flex;
    justify-content: center;

    margin-top: 5px;
}

.second-content {
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-top: 10px;

    color: white;

    gap: 40px;
}

.first-box {
    border: 5px solid rgb(245, 168, 168);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

.second-box {
    border: 5px solid rgb(245, 168, 168);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;  
}

.third-box {
    border: 5px solid rgb(245, 168, 168);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

.fourth-box {
    border: 5px solid rgb(245, 168, 168);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

.third-everything {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    height: 40vh;
}

.third-content {
    display: flex;
    flex-direction: column;

    align-items: flex-end;

    max-width: 450px;

}

.third-content h3 {
    color: white;
}
